@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  @apply outline-none ring-2 ring-gray-800 dark:ring-gray-100 ring-offset-2 dark:ring-offset-gray-800 rounded-sm border-transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jost, sans-serif;
}

h2 {
  @apply mb-8 text-2xl sm:text-3xl;
}

h3 {
  @apply mb-2 text-xl sm:text-2xl;
}

:is(p, li) a {
  @apply px-px border-b-2 border-yellow-500 border-dotted hover:rounded-sm hover:border-0 hover:bg-yellow-500 hover:text-gray-50 dark:hover:bg-yellow-600 transition duration-[400ms] ease-in-out;
}

p#nav a {
  @apply inline-flex items-center mt-3 border-b-2 text-sm font-medium hover:bg-transparent hover:text-current focus:border-transparent;
}

[x-cloak] {
  display: none !important;
}

footer a {
  @apply text-gray-400 hover:text-gray-500 dark:hover:text-gray-200;
}

ol#work {
  display: table;
}

ol#work > li {
  display: table-row;
  height: 3.25rem;
  margin: 1.5rem 0;
}

ol#work > li::before {
  content: attr(seq);
  display: table-cell;
  @apply text-xs sm:text-sm font-mono;
}

#book h2 {
  margin-bottom: 0;
}

.favelist > li > p {
  @apply pl-6 mt-2 text-sm sm:text-base;
}

#darkmodetoggle input[type='checkbox'] {
  display: none;
}
#darkmodetoggle label {
  @apply inline-block cursor-pointer relative transition-all ease-in-out duration-300 w-12 h-6 rounded-3xl border border-solid border-yellow-300 dark:border-gray-400 bg-yellow-100;
}
#darkmodetoggle label::after {
  content: attr(data-dark);
  @apply flex items-center justify-center rounded-full cursor-pointer absolute top-px left-px transition-all ease-in-out duration-300 w-5 h-5 bg-transparent align-middle;
}
#darkmodetoggle input[type='checkbox']:checked ~ label {
  @apply bg-gray-500;
}
#darkmodetoggle input[type='checkbox']:checked ~ label::after {
  transform: translateX(24px);
}
